@model ApplicationRole
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<div class="row">
    <div class="col-6">
        <form asp-controller="Role" asp-action="Update">
            <partial name="PartialView/CreateORUpdateRole" />
            <br />
            <a asp-controller="Role" asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btn-info">
                Add OR Remove Users
            </a>
            <br />
            <input type="submit" value="Add" class="btn btn-primary" />
            <a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To Roles</a>
        </form>
    </div>
</div>
