@model RegisterViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-controller="Account" asp-action="SignUp">
			<input asp-for="Email" class="text email" type="email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>

			<input asp-for="Password" class="text" type="password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>

			<input asp-for="ConfirmPassword" class="text w3lpass" type="password" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Don't have an Account? <a asp-controller="Account" asp-action="Login"> Login Now!</a></p>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}